@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

.container {
  max-width: 1450px;
  margin: 0 auto;
}

.garamond {
  font-family: "Cormorant Garamond", serif;
}

/* Chrome, Edge, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* IE və köhnə Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}