@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fefbf4;
}

body.menu-open {
  overflow: hidden !important;
  height: 100vh !important;
  touch-action: none;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

.garamond {
  font-family: "Cormorant Garamond", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #6b6b6b;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2e2c2a;
}

.dotted-line {
  height: 20px;
  background-image: radial-gradient(circle, #c8c0b5 1px, transparent 1px);
  background-size: 6px 6px;
  background-repeat: repeat-x;
}

.laduree-dotted-v {
  background-image: radial-gradient(circle, #8c827a 1px, transparent 1px);
  background-size: 6px 6px;
  background-repeat: repeat-y;
  background-position: center;
}
